{% extends 'erahtur_main.html' %}
{% load navbar %}
{% block title %}
<title>Ерахтур - организации</title>
{% endblock %}

{% block content %}

<div class="publication_wrapper">
	<div class="publication no_border">
		<h3>Организации	/ <span class="active_font">{{ organization.name }}</span></h3>
		<div class="entry"> {{ organization.about|safe }} </div>
	</div>
		{% if photos %}
		<hr>
		<div id="photos_block_title">
			Фотоблок (<span class="active_font">{{ photos|length }}</span>)
		</div>		
		<div id="photos_block">
			{% for photo in photos %}
			<a href="{{ photo.image.url }}" rel="lightbox[set1]" title="{{ photo.description }}">
				<img src="{{ photo|get_thumbnail }}" alt="{{ photo.description }}" class="photo_thumb rc12"/>
			</a>
			{% endfor %}
		</div>
		{% endif %}
</div>

{% endblock %}