{% extends 'erahtur_main.html' %}
{% load navbar %}
{% load tagging_tags %}
{% block title %}
	<title>Ерахтур - новости</title>
{% endblock %}
{% block content %}
	<div class="content_wrapper">

		<div id="tabBox">
			<div class="tabsHolder">
				<ul class="tabSet" style="display: block;">
					<li class="off">
						<a href="/publications/news/district/1/" class="no_decor" id="pub_district">округ</a>
					</li>
					<li class="off">
						<a href="/publications/news/region/1/" class="no_decor" id="pub_region">район</a>
					</li>
					<li class="off">
						<a href="/publications/news/oblast/1/" class="no_decor" id="pub_oblast">область</a>
					</li>
				</ul>		  
			</div>
		</div>

		{% comment %}<h3>Новости / <span class="active_font">{{ russian_pub_type }}</span></h3>{% endcomment %}
		{% if pub_list %}
			{% for tuple in pub_list %}
				<div class="publication">
					<p class="title">							
						<a href="{% url publication tuple.0.id %}">{{ tuple.0.title }}</a>
					</p>
					<div class="entry"> {{ tuple.0.preface|safe }} </div>
					{% comment %}
					<p class="date">{{ tuple.0.date|pytils_date }}, {{ tuple.0.date|date:"H:i" }}</p>
					{% endcomment %}
					<a style="text-decoration: none;" href='#' class="read" id="read-{{ tuple.0.id }}">&rarr;</a>
					<div class="pub_statistics rc4">
						<div class="pub_date">
							<span>{{ tuple.0.date|pytils_date }}, {{ tuple.0.date|date:"H:i" }}</span>
						</div>
						<div class="pub_words">
							<span>слов:  <span class="active_font">{{ tuple.1.0 }}</span></span>
						</div>
						<div class="pub_photos">
							<span>фото: <span class="active_font">{{ tuple.1.1 }}</span></span>
						</div>
						<div class="pub_comments">
							<span>комментариев: <span class="active_font">{{ tuple.1.2 }}</span></span>
						</div>
					</div>
					<br class="clear">
					{% if tuple.0.get_tags %}
					<div class="pub_tags">
						{% for tag in tuple.0.get_tags %}
								<div class="pub_tag"><a href="{% url pubs_by_tag tag.id %}">{{ tag.name|cut:" " }}</a></div>
						{% endfor %}
					</div>
					<br class="clear">
					{% endif %}
					<p class="spacer"></p>
				</div>
			{% endfor %}			
		{% else %}
			<h3>Тут пока ничего нет. Попробуйте посмотреть на более ранних страницах</h3>
		{% endif %}		
	
		<div>
			<p>
	       {% for i in pages %}
					{% ifequal i current_page %}
						<span class="filmfeed_pages_disabled">{{ i }}</span>
					{% else %}		
	       		<a class="filmfeed_pages" href="{% url pub_list pub_type i %}">{{ i }}</a>
					{% endifequal %}
				{% endfor %}
		  </p>
		</div>	
	
	</div>
	
	
	
	{% comment %}
	<div class="page_switch">
		<p id="switch_panel">
    	{% for i in pages %}
				{% ifequal i current_page %}
					<span class="filmfeed_pages_disabled" id="switch_panel_{{ i }}">{{ i }}</span>
				{% else %}
					<a href="{% url pub_list pub_type i %}" class="filmfeed_pages" id="switch_panel_{{ i }}">{{ i }}</a>
				{% endifequal %}
			{% endfor %}
  	</p>
		
		<p id="blocks_panel">
      {% for i in pages %}
				{% ifequal i current_page %}
					<span class="filmfeed_blocks_disabled" id="blocks_panel_{{ i }}">1</span>
				{% else %}
					<span class="filmfeed_blocks" id="blocks_panel_{{ i }}">1</span>
				{% endifequal %}
			{% endfor %}
	  </p>
		
	</div>	
	{% endcomment %}
	
	
					
{% endblock %}